.toolbar-item {
  color:aliceblue;
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px; 
  background-color: #7b1fa2;
}

.mat-button-toggle-checked {
  background-color: #310145;
  color:aliceblue;
}

.main-sidenav {
  width: 80%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  color:aliceblue;
}

/* mat-toolbar {
  background-color:#ff4081;
} */

mat-drawer {
  width:20%;
}

/* mat-drawer-content {
  padding: 25px !important;
} */

mat-drawer-container {
  height: 100vh;
  background-color: #ffffff;
}

span {
  margin: 5px;
  color: aliceblue;;
}

img {
  width: 30px;
  height: 30px;
}

/* .github {
  border: none;
  background-color: #ff4081;
  color: aliceblue;
} */

/* :host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ffd740 ;
}

:host ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ffd740 ;
}

:host ::ng-deep .mat-slide-toggle-bar {
  background-color: #ffd740 ;
}

:host ::ng-deep .mat-slide-toggle-thumb {
  background-color: #ffd740 ;
} */