<h1 mat-dialog-title>Add New Persons</h1>
<div mat-dialog-content>
    <form [formGroup]="options">
        <mat-form-field appearance="legacy">
            <mat-label>{{ "person-dialog.message6" | translate }}</mat-label>
            <input matInput placeholder='{{ "person-dialog.message7" | translate }}' type="text" formControlName="name" name="name">
            <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
            <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>{{ "person-dialog.message8" | translate }}</mat-label>
            <input matInput placeholder='{{ "person-dialog.message9" | translate }}' type="number" formControlName="age" name="age">
            <span matSuffix>{{ "person-dialog.message10" | translate }}</span>
            <mat-error *ngIf="age.invalid">{{getAgeErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>{{ "person-dialog.message11" | translate }}</mat-label>
            <input matInput [matDatepicker]="birthdate" formControlName='{{ "person-dialog.message12" | translate }}' name="birthdate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
        </mat-form-field>

        <div style="display:inline">
            <mat-label>{{ "person-dialog.message13" | translate }}</mat-label>
            <mat-radio-group name="gender" formControlName="gender">
                <mat-radio-button value="Male">{{ "person-dialog.message14" | translate }}</mat-radio-button>
                <mat-radio-button value="Female">{{ "person-dialog.message15" | translate }}</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="gender.invalid">{{getGenderErrorMessage()}}</mat-error>
        </div>
    </form>
    <div *ngIf="invalid" class="error">
        {{ "person-dialog.message16" | translate }}
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>close</button>
    <button mat-button (click)="submitForm()" cdkFocusInitial>{{ "person-dialog.message17" | translate }}</button>
</div>