* {
  margin: 5px;
}

.label {
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

section {
  margin-top: 5px;
}

.container1 {
  border: 1px #ffffff solid;
  background-color: #222222;
  margin: 0px;
}

.tableTitle {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  margin: 0px;
}


.buttons_container {
  display: flex;
  justify-content:flex-start;
}

button {
  margin: 5px;
}