<section>
  <div class="tableTitle">
    Filter Persons
  </div>
  <form class="container1" (ngSubmit)="onFilterPersons()" [formGroup]="options">
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" type="text" formControlName="name" name="name">
      <mat-hint align="end">{{name.value?.length || 0}}/50</mat-hint>
      <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Age</mat-label>
      <input matInput placeholder="age" type="number" formControlName="age" name="age">
      <span matSuffix>year</span>
      <mat-error *ngIf="age.invalid">{{getAgeErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Birthdate</mat-label>
      <input matInput [matDatepicker]="birthdate" formControlName="birthdate" name="birthdate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
      <mat-datepicker #birthdate></mat-datepicker>
    </mat-form-field>
    
    <div style="display:inline-flex">
      <mat-label>Gender:</mat-label>
      <mat-radio-group name="gender" formControlName="gender">
        <mat-radio-button value="">All</mat-radio-button>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="gender.invalid">{{getGenderErrorMessage()}}</mat-error>
    </div>
    <div class="buttons_container">
      <button type="submit" mat-flat-button color="accent">filter</button>
      <button  type="reset" (click)="onResetForm()" mat-flat-button color="accent">reset</button>
    </div>
  </form>
  <mat-app-tablev4 *ngIf="!isEmpty()" [showDeleteColumn]="false"></mat-app-tablev4>
</section>