<mat-accordion class="example-headers-align" #FirstAccordion>

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'expansion-panel.message1' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'expansion-panel.message2' | translate}}
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div> {{ 'expansion-panel.message3' | translate}}
    </div>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()"> {{ 'expansion-panel.message4' | translate}}
      </button>
    </mat-action-row>

  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'expansion-panel.message5' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'expansion-panel.message6' | translate}}
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{ 'expansion-panel.message7' | translate}}</div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">{{ 'expansion-panel.message8' | translate}}</button>
      <button mat-button color="primary" (click)="nextStep()">{{ 'expansion-panel.message4' | translate}}</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'expansion-panel.message9' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'expansion-panel.message10' | translate}}
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{ 'expansion-panel.message12' | translate}}</div>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">{{ 'expansion-panel.message8' | translate}}</button>
      <button mat-button color="primary" (click)="nextStep()">{{ 'expansion-panel.message13' | translate}}</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<br><br>
<div class="example-action-buttons">
  <button mat-flat-button color="accent" (click)="accordion.openAll()">{{ 'expansion-panel.message14' | translate}}</button>
  <button mat-flat-button color="accent" (click)="accordion.closeAll()">{{ 'expansion-panel.message15' | translate}}</button>
</div>
<mat-accordion class="example-headers-align" #SecondAccordion="matAccordion" multi>

  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'expansion-panel.message1' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'expansion-panel.message2' | translate}}
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{ 'expansion-panel.message3' | translate}}</div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'expansion-panel.message5' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'expansion-panel.message6' | translate}}
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{ 'expansion-panel.message7' | translate}}</div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'expansion-panel.message9' | translate}}
      </mat-panel-title>
      <mat-panel-description>
        {{ 'expansion-panel.message10' | translate}}
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>{{ 'expansion-panel.message12' | translate}}</div>
  </mat-expansion-panel>

</mat-accordion>