.mat-list-single-selected-option {
  background: hsla(340, 49%, 45%, 0.15);
  color: #ff4081b5;
}


.toolbar-item {
  background-color:#ff4081;
  color:aliceblue;
  padding: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}

.sidenav-item {
  border: none;
  width:100%;
  background-color: #ff408047;
  opacity: 0.5;
}

.mat-button-toggle-checked {
  background-color: #cb0648;
  color:aliceblue;
}

.main-sidenav {
  width: 80%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  color:aliceblue;
}

mat-toolbar {
  background-color:#ff4081;
}

mat-drawer {
  width:20%;
}

/* mat-drawer-content {
  padding: 25px !important;
} */

mat-drawer-container {
  height: 100vh;
  background-color: #ffffff;
}

span {
  margin: 5px;
  color: aliceblue;;
}

img {
  width: 30px;
  height: 30px;
}
