.sidenav-item {
  border: none;
  width:100%;
  background-color: #ff408047;
  opacity: 0.5;
}

.main-sidenav {
  width: 80%;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  color:aliceblue;
}

mat-drawer {
  width:20%;
}

mat-drawer-container {
  height: 100vh;
  background-color: #ffffff;
}

span {
  margin: 5px;
  color: aliceblue;;
}

img {
  width: 30px;
  height: 30px;
}
