<div>
  <div>
    <div class="label">Add Person</div>
    <form (ngSubmit)="onAddNewPerson(f)"  #f="ngForm">
      <span>Name:</span><input type="text" name="name" ngModel required/>
      <span>Age:</span><input type="number" name ="age" ngModel required/>
      <span>Gender:</span>
        <input type="radio" name="gender" value="Male" ngModel required/><span>Male</span>
        <input type="radio" name="gender" value="Female" ngModel required/><span>Female</span>
        <button  type="submit" mat-flat-button color="accent">add</button>
        <br><br>
      </form>
  </div>

  <div *ngIf="!isEmpty()" class="flex">
    <app-table *ngFor="let input of inputs;let i = index" [name]="input.name" [age]="input.age" [gender]="input.gender" [index]="i"></app-table>
  </div>
</div>


