<div class="action-buttons">
  <button mat-raised-button  color="accent" (click)="treeControl.expandAll();">Expand all</button>
  <button mat-raised-button  color="accent" (click)="treeControl.collapseAll()">Collapse all</button>
</div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding class="fifth">
    <button mat-icon-button disabled></button>
    <mat-checkbox [checked]="checklistSelection.isSelected(node)"
      (change)="siteLeafItemSelectionToggle(node)"> {{node.name}} </mat-checkbox>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [ngClass]="{
      'first': node.level === 0 , 
      'second': node.level === 1,
      'third': node.level === 2,
      'fourth':node.level === 3}">
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)"
      [indeterminate]="descendantsPartiallySelected(node)" (change)="siteItemSelectionToggle(node)">
      {{node.name}}</mat-checkbox>
  </mat-tree-node>
</mat-tree>

<table mat-table>
  <thead class="primary">
    <tr>
      <th mat-header-cell>No</th>
      <th mat-header-cell>Name</th>
      <th mat-header-cell>siteId</th>
      <th mat-header-cell>code</th>
      <th mat-header-cell>type</th>
      <th mat-header-cell>Level</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of selectedSites;let i=index">
      <td mat-cell class="primary">{{ i+1 }}</td>
      <td mat-cell>{{node.name}}</td>
      <td mat-cell>{{ node.siteId }}</td>
      <td mat-cell>{{ node.code }}</td>
      <td mat-cell>{{ node.type }}</td>
      <td mat-cell>{{ node.level }}</td>
    </tr>
  </tbody>
</table>
<div fxLayout fxLayoutAlign="center center" *ngIf="selectedSites.length===0">
  <span class="empty-grid">empty grid</span>
</div>