.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.child {
  background-color: aqua;
  width: 20%;
  height: 50%;
  border: 1px solid #000000;
}

.first {
  background-color: #696969;
  color: #FFFFFF;
}

.second {
  background-color: #808080;
  color: #FFFFFF;
}

.third {
  background-color: #A9A9A9;
  color: #000000;
}

.fourth {
  background-color: #C0C0C0;
  color: #000000;
}

.fifth {
  background-color: #FFFFFF;
  color: #000000;
}

.tree {
  border: 1px solid #000000;
  margin: 5px;
}

table {
  width: 96%;
  margin: 2%;
}

th,td {
  text-align: center;
}