<div>
    <div class="tableTitle">
        {{ "table.message3" | translate }}
    </div>
    <div>
        <table>
            <thead>
                <tr class="primary" *ngIf="showDeleteColumn">
                    <th style="width:10%"></th>
                    <th style="width:30%">{{ "table.message4" | translate }}</th>
                    <th style="width:10%">{{ "table.message5" | translate }}</th>
                    <th style="width:30%">{{ "table.message6" | translate }}</th>
                    <th style="width:10%">{{ "table.message7" | translate }}</th>
                    <th style="width:10%">{{ "table.message8" | translate }}</th>
                </tr>
                <tr class="primary" *ngIf="!showDeleteColumn">
                    <th style="width:10%"></th>
                    <th style="width:30%">{{ "table.message4" | translate }}</th>
                    <th style="width:15%">{{ "table.message5" | translate }}</th>
                    <th style="width:30%">{{ "table.message6" | translate }}</th>
                    <th style="width:15%">{{ "table.message7" | translate }}</th>
                </tr>
            </thead>
            <tbody *ngIf="showDeleteColumn">
                <tr *ngFor="let person of  inputs.slice(pageEvent.pageIndex*pageEvent.pageSize,(pageEvent.pageIndex+1)*pageEvent.pageSize);let i = index">
                    <td style="width:10%">{{ pageEvent.pageIndex*pageEvent.pageSize+i+1 }}</td>
                    <td style="width:30%">{{ person.name }}</td>
                    <td style="width:10%">{{ person.age }} {{ "table.message9" | translate }}</td>
                    <th style="width:30%">{{ person.birthdate }}</th>
                    <td style="width:10%">{{ person.gender }}</td>
                    <td style="width:10%">
                        <button mat-icon-button (click)="onDeletePerson(i)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!showDeleteColumn">
                <tr *ngFor="let person of  inputs.slice(pageEvent.pageIndex*pageEvent.pageSize,(pageEvent.pageIndex+1)*pageEvent.pageSize);let i = index">
                    <td style="width:10%">{{ pageEvent.pageIndex*pageEvent.pageSize+i+1 }}</td>
                    <td style="width:30%">{{ person.name }}</td>
                    <td style="width:15%">{{ person.age }} {{ "table.message9" | translate }}</td>
                    <th style="width:30%">{{ person.birthdate }}</th>
                    <td style="width:15%">{{ person.gender }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div fxLayout fxLayoutAlign="center center" *ngIf="inputs.length===0">
        <span class="empty-grid">empty grid</span>
    </div>
    <mat-paginator (page)="changePage()" [length]="inputs.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" #pageEvent aria-label="Select page">
    </mat-paginator>
</div>