@import "@angular/material/prebuilt-themes/purple-green.css";
td,th,tr {
  border: 1px solid;
  text-align: center;
}

table {
  width: 100%;
}

.delete {
  color: #ff0000;
  font-weight: bolder;
  cursor: pointer;
}

td,
th {
  padding: 6px;
}

.primary {
  background-color: #7b1fa2;
}

.white {
  background-color: #ffffff;
}

.tableTitle {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

mat-paginator {
  display: flex;
  justify-content:center;
}

.empty-grid {
  background-color: #f44336;
  color: #000000;
  text-align: center;
  width: 30%;
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
}