<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Card and select">
        <section class="new-training" fxLayout fxLayoutAlign="center">
            <mat-card fxFlex.xs="100%" fxFlex="400px">
                <mat-card-title fxLayoutAlign="center">my favorite Framwork is {{selectedValue.value}}</mat-card-title>
                <mat-card-content fxLayoutAlign="center">
                    <mat-form-field>
                        <mat-select placeholder="Favorite framework" #selectedValue>
                            <mat-option value="React">
                                React
                            </mat-option>
                            <mat-option value="Angular">
                                Angular
                            </mat-option>
                            <mat-option value="flutter ">
                                flutter
                            </mat-option>
                            <mat-option value="Laravel">
                                Laravel
                            </mat-option>
                            <mat-option value="zframework">
                                ZFramework <mat-icon>tag_faces</mat-icon>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center">
                    <button type="submit" mat-button>submit</button>
                </mat-card-actions>
            </mat-card>
        </section>

    </mat-tab>
    <mat-tab label="progress spinner">
        <section class="new-training" fxLayout fxLayoutAlign="center center">
            <div class="welcome" fxLayout="row" fxLayoutGap.gt-md="50px"
                fxLayoutAlign="center center">
                <div>
                    <mat-progress-spinner #thirdSpinner color="accent" mode="indeterminate">
                    </mat-progress-spinner>
                    <h5>loading...</h5>
                </div>
                <div>
                    <mat-progress-spinner #firstSpinner color="accent" mode="determinate" value="25">
                    </mat-progress-spinner>
                    <h5>progress 25%</h5>
                </div>
                <div>
                    <mat-progress-spinner #firstSpinner color="accent" mode="determinate" value="50">
                    </mat-progress-spinner>
                    <h5>progress 50%</h5>
                </div>
                <div>
                    <mat-progress-spinner #firstSpinner color="accent" mode="determinate" value="75">
                    </mat-progress-spinner>
                    <h5>progress 75%</h5>
                </div>
                <div>
                    <mat-progress-spinner #secondSpinner color="accent" mode="determinate" [value]="spinnerValue">
                    </mat-progress-spinner>
                    <h5>progress {{spinnerValue}}%</h5>
                    <div>
                        <button mat-button (click)="startLoad()">start</button>
                        <button mat-button (click)="stopLoad()">stop</button>
                    </div>
                </div>
            </div>
        </section>

    </mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>