@import "@angular/material/prebuilt-themes/purple-green.css";
table,
th,
td {
  border: 1px solid;
  text-align: center;
}

.delete {
  color: #ff0000;
  font-weight: bolder;
  cursor: pointer;
}

td,
th {
  padding: 6px;
}

.primary {
  background-color: #7b1fa2;
}

.white {
  background-color: #ffffff;
}
